body {
  max-width: 800px;
  margin: auto;
}

footer { text-align: center; }

/* Visual styles */

/* Underlined "link here" # symbols next to headings look quite odd, don't they? */
a.here { text-decoration: none; }

/* Display the expand/collapse triangle button at the same level as list bullets */
ul.toc { list-style-position: inside; }

/* A list bullet next to an expand button would be some ugly nonsense. */
li.collapsible { list-style: none; }

/* Make it clear that the expand/collapse triangle symbol is clickable */
summary { cursor: pointer; }

hr {
  height: 1px;
  background-color: #aaaaaa;
  border: 0 none;
  margin: 0;
}

a { color: #09F; }

/* Striped background is helpful on screen,
   undesirable in print,
   and has no effect for non-visual media. */
@media only screen {
  .subsection:nth-child(even) {
    background-color: #ededed;
    padding: 20px 14px;
    margin: 0 -14px;
  }
}

/* Typography */

body {
  font-family: Helvetica, sans-serif;
  color: #444;
}

/* For some reason on most system the default monospace font looks smaller.
   Even if not, commands is the most important information here,
   making it look more prominent won't harm. ;)
 */
pre, code, kbd { font-size: 110%; }

@supports (hyphens: auto) {
  main {
    text-align: justify;
    hyphens: auto;
  }
}

pre, code, sample {
  white-space: pre-wrap;
  hyphens: none;
}
