<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="style.css">
    <!-- title is set automatically -->
    <script>
      // On desktop, the copyright block with banners and stuff is in a side pane,
      // but that's just due to the CSS setting "position: fixed"
      // and yanking it out of the normal flow.
      //
      // DOM-wise, it's in the middle of the heading section,
      // and without CSS doing its hack, it would be shown out of place.
      //
      // This is a hack to move it to the bottom of the page
      // on mobile devices.
      //
      // Ideally we may want to move it to the side pane
      // when device orientation changes to landscape,
      // but that's not very important.
      document.addEventListener("DOMContentLoaded", function () {
        if(window.matchMedia("(pointer: coarse)").matches) {
          var elem = document.querySelector("#copyright");
          var container = document.querySelector("main");
          container.appendChild(elem);
        }
      });
    </script>
  </head>
  <body>
    <div id="content-container">
      <main>
        <h1>Task-centered iproute2 user guide</h1>
        <div id="sidebar">
          <div id="copyright">
            <hr><br>
            <span>Copyright 2013-<span id="update-year"><!-- inserted automatically --></span>, <a href="https://www.baturin.org">Daniil Baturin</a> and contributors.</span>
            <br><br>
            <div>
              <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC-BY-SA License" style="border-width:0" src="cc-by-sa.png"></a>
              <a href="https://www.soupault.app"> <img src="powered_by_soupault_88x31.png" alt="Powered by soupault"> </a>
              <a href="https://www.buymeacoffee.com/dmbaturin" target="_blank"><img src="buymeacoffee.png" alt="Buy Me A Coffee" style="height: 31px !important;"></a>
              <br><br>
              <span id="last-modified">Last modified: </span>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
