<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="style.css">
    <!-- title is set automatically -->
  </head>
  <body>
    <main> <!-- content is automatically inserted here --> </main>
    <footer>
      <span>Copyright &copy; <a href="https://www.baturin.org">Daniil Baturin</a> &lt;daniil at baturin dot org&gt; and contributors. 2013-2021.</span>
      <br><br>
      <div>
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC-BY-SA License" style="border-width:0" src="cc-by-sa.png"></a>
        <a href="https://soupault.neocities.org"> <img src="powered_by_soupault_88x31.png" alt="Powered by soupault"> </a>
        <a href="https://www.buymeacoffee.com/dmbaturin" target="_blank"><img src="buymeacoffee.png" alt="Buy Me A Coffee" style="height: 31px !important;"></a>
        <br><br>
        <span>Last modified: 2021-01-08.</span>
      </div>
    </footer>
  </body>
</html>
